# my config
exec_always setxkbmap -layout us,ru
exec_always setxkbmap -option 'grp:alt_shift_toggle'
bindsym $mod+Tab exec rofi -show window
bindsym Mod1+Tab exec rofi -show window
bindcode Mod1+49 exec rofi -show window -filter $(~/.config/i3/x-get-focused-window-class.sh)
bindcode $mod+49 exec rofi -show window -filter $(~/.config/i3/x-get-focused-window-class.sh)

bindsym XF86AudioRaiseVolume exec amixer -q set Master 10%+ unmute
bindsym XF86AudioLowerVolume exec amixer -q set Master 10%- unmute
bindsym XF86AudioMute exec amixer -q set Master toggle
bindsym $mod+Mod1+l exec i3lock

# Required commenting out defaults
bindsym $mod+Return exec rofi -show drun
bindsym $mod+d exec rofi -show drun

exec --no-startup-id dropbox start
